body {
    background-color: black;
    color: white;
    max-width: 700px;
    margin: 0 auto;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

table, th, td {
    border: 1px solid;
    border-color: white;
    border-collapse: collapse;
    text-align: left;
}